/* 
사용자 지정 스타일 (=css 변수)]
: 디자인에서 반복적으로 사용하는 값을 변수 처럼 정의해두고, 필요할 때마다 재사용 할 수 있도록 만든 스타일
: 색상(글자색, 배경색), 폰트( 폰트패밀리, 폰트사이즈, 행간 등), 여백(margin, padding, gap등) 브레이크포인트에 주로 지정

정의: --VariableName: Value;
사용: var(--VariableName)

*/

:root {
  /* 색상 */
  --color-primary1: #F5F5F5;
  --color-primary2: #1C1C1C;
  --color-secondary1: #DC2828;
  --color-secondary2: #924444;
  --color-secondary3: #EDEDED;

  /* 폰트 */
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
}

@media screen and (max-width: 1024px) {
  :root{
    --font-size-20: 1rem; /*16px*/
  }
}
@media screen and (max-width: 768px) {
  :root{
    --font-size-20: 0.875rem; /*14px*/
  }
}